body{
    background-color: aquamarine;




}
nav{
    background-color: brown;
    padding: 15px;

}
a{
    margin: 20px;
    color: cornsilk;
    background-color: blueviolet;
    font-size: 25px;
    padding: 10px;

}